[project]
	description = trex-core site
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anil (anilkumar0470)
[access "refs/for/refs/*"]
	read = group user/anil (anilkumar0470)
	push = group user/anil (anilkumar0470)
	label-Code-Review = -2..+2 group user/anil (anilkumar0470)
	label-Verified = -1..+1 group user/anil (anilkumar0470)
	rebase = group user/anil (anilkumar0470)
	removeReviewer = group user/anil (anilkumar0470)
	submit = group user/anil (anilkumar0470)
[access "refs/heads/*"]
	read = group user/anil (anilkumar0470)
	create = group user/anil (anilkumar0470)
	push = +force group user/anil (anilkumar0470)
	pushMerge = group user/anil (anilkumar0470)
[access "refs/tags/*"]
	push = group user/anil (anilkumar0470)
	push = +force group user/anil (anilkumar0470)
